h1 {
  text-align: center;
}

main {
  max-width: 820px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  row-gap: 1.5rem;
}
@media (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
    -moz-column-gap: unset;
         column-gap: unset;
  }
}
.projects .project {
  background-color: #d2d2d2;
  border: 1px solid #cdcdcd;
  box-shadow: 2px 2px 5px #cdcdcd;
  transition: all 0.2s ease-in-out;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  width: 100%;
  max-width: 400px;
}
.projects .project:hover {
  box-shadow: 4px 4px 10px #cdcdcd;
  margin-left: 0;
  margin-right: 10px;
}
.projects .project a {
  color: unset;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;
}
.projects .project a .img-wrapper {
  width: 100%;
}
.projects .project a .img-wrapper img {
  border: 2px solid #8c0000;
  box-sizing: border-box;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.projects .project a h2 {
  margin: 0;
  margin-top: 0.5rem;
  text-align: center;
}
.projects .project a div.description {
  margin-top: 0.5rem;
  text-align: center;
}
