$header-height: 3rem;
$footer-height: 3rem;
$main-max-width: 720px;

$card-translate-distance: 5px;

$color-background-body: rgb(230, 230, 230);
$color-background-header: rgb(190, 190, 190);
$color-background-card: rgb(210, 210, 210);
$color-background-code: rgb(210, 210, 210);

$color-border-header: rgb(180, 180, 180);
$color-border-card: rgb(205, 205, 205);
$color-shadow: rgb(60, 60, 60);

$color-text-primary: rgb(40, 40, 40);
$color-text-secondary: rgb(60, 60, 60);
$color-text-tertiary: rgb(80, 80, 80);
$color-text-accent: rgb(140, 0, 0);
$color-text-accent-visited: rgb(91, 45, 133);
$color-text-accent-light: rgb(140, 68, 68);
$color-text-accent-lighter: rgb(214, 166, 166);